.jacksmod .failed-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-color: #777;
    border-width: 1px;
    border-style: solid;
}

.jacksmod .failed-screen > div {
    flex: 1 3 auto;
}

.jacksmod .waiting-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.jacksmod .waiting-screen > div {
    flex: 1 3 auto;
}

.jacksmod .nodebox {
    fill: #bbb;
    stroke-width: 8;
}

.jacksmod .linkbox {
    fill: #666;
    stroke-width: 8;
    stroke: #000;
}

.jacksmod .map-hide-outer {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;
}

.jacksmod .map-hide-outer > div {
    color: #444;
    padding-left: 5px;
    padding-right: 5px;
}

.jacksmod button.switch-to-map-button {
    position: absolute;
    top: 10px;
    right: 100px;
}

.jacksmod button.fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.jacksmod .nodetext {
    font-size: 36;
    font-weight: normal;
}

